
// navigation

.navi--top {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
    a {
      display: flex;
      padding: 1rem;
      text-decoration: none;
    }
  }

}

.toggle-box {
  flex-basis: 100%;
  order: 1;
  display: none;
  padding: .5rem;
  justify-content: flex-end;
}

@media (max-width: $s) {

  .toggle-box {
    flex-basis: 100%;
    order: 1;
    display: flex;
  }
  
  .navi--top {
    flex-wrap: wrap;
  }

  .navi--top ul {
    flex-direction: column;
    order: 2;
    display: none;
  }

  .navi--top.active ul {
    display: flex;
  }

}